<section class="cart py-16">
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="cart_black" />
      <h1 class="font-bold text-2xl ml-4">Order summary</h1>
    </div>
    <div class="pizza-list">
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="pizza" />
        <div class="flex-1 ml-4">
          <h1>Marina</h1>
          <span>Medium</span>
        </div>
        <span class="flex-1">1pcs</span>
        <span class="font-bold text-lg">rp.170k</span>
      </div>

      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="pizza" />
        <div class="flex-1 ml-4">
          <h1>Marina</h1>
          <span>Medium</span>
        </div>
        <span class="flex-1">1pcs</span>
        <span class="font-bold text-lg">rp.170k</span>
      </div>

      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="pizza" />
        <div class="flex-1 ml-4">
          <h1>Marina</h1>
          <span>Medium</span>
        </div>
        <span class="flex-1">1pcs</span>
        <span class="font-bold text-lg">rp.170k</span>
      </div>
      <hr />
      <div class="text-right py-4">
        <div>
          <span class="text-lg font-bold">Total amount:</span>
          <span class="amount text-2xl font-bold ml-2">rp.500k</span>
        </div>
        <div>
          <form action="" class="mt-12">
            <input
              class="border border-gray-400 p-2 w-1/2 mb-4"
              type="text"
              placeholder="Phone Number"
            />
            <input
              class="border border-gray-400 p-2 w-1/2"
              type="text"
              placeholder="Adress"
            />
            <div>
              <button
                class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6"
                type="submit"
              >
                Order now
              </button>
            </div>
          </form>
        </div>
        <!-- <a
          href="/login"
          class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6"
          >Login to continue</a
        > -->
      </div>
    </div>
  </div>
  <!-- <div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart empty</h1>
      <p class="text-gray-500 text-lg mb-12">
        You probably haven't ordered pizza yet. <br />
        To order a pizza, go to the main page
      </p>
      <img src="/img/empty-cart.png" class="w-2/4 mx-auto" alt="empty-cart" />
      <a
        href="/"
        class="rounded-full px-6 py-2 inline-block btn-primary text-white font-bold mt-12"
        >Go back</a
      >
    </div>
  </div> -->
</section>
